body{
    padding-top: 10px;


}

.container{
    width:80vw;
    height: 90vh;

    display: flex;
    background-color: gray;

    margin-left: auto;
    margin-right: auto;

}

.flexContainerRow{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;

}

.flexContainerColumn{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.red{
    background-color: red;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}


.flex{
    flex: 1;
}
.flex{
    flex: 2;
}
.flex{
    flex: 3;
}
.flex{
    flex: 4;
}
.flex{
    flex: 5;
}

.border{
    border: 1px solid black;
}
