body{
    margin:0px;
}



header{
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: yellow;
}

.imgContainer{
    position: relative;
}

.cityImage{
    position: absolute;
    top:-600px;
    left:-200px;
}

.textContainer{
    font-size: 60px;
    color: red;
    position: absolute;
    z-index: 10;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 300px;
}

.opacity{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 70%;
    z-index: 5;
}